<div class="content">

  <div class="content-block">
    <!--    <div>-->
    <!--      <label>Summary: </label>-->
    <!--      <select>-->
    <!--        <option value="0">&#45;&#45;All&#45;&#45;</option>-->
    <!--        <option *ngFor="let summary of summaries" value={{summary}}>-->
    <!--          {{summary}}-->
    <!--        </option>-->
    <!--      </select>-->
    <!--    </div>-->
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="placeth hide-arrow"><p class="normal-text">
          Место</p></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <a [href]="'player/' + element.id">
            <p class="big-text">{{i + 1}}</p>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="player">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow"><p class="normal-text">Игрок</p></th>
        <td mat-cell *matCellDef="let element">
          <a [href]="'player/' + element.id">
            <div class="player">
              <img class="avatar" [src]="getAvatar(element)">
              <p class="name normal-text">{{element?.name}}</p>
            </div>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="mmr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow"><p class="normal-text">Рейтинг</p></th>
        <td mat-cell *matCellDef="let element">
          <a [href]="'player/' + element.id">
            <p class="normal-text">{{element.mmr}} </p>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="win">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow"><p class="normal-text">Побед</p></th>
        <td mat-cell *matCellDef="let element">
          <a [href]="'player/' + element.id">
            <p class="normal-text"> {{element.winCount}}</p>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="match">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow"><p class="normal-text">Матчей</p></th>
        <td mat-cell *matCellDef="let element"><a [href]="'player/' + element.id"><p
          class="normal-text"> {{element.matchCount}}</p></a></td>
      </ng-container>

      <ng-container matColumnDef="best">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow"><p class="normal-text best-elem">Лучшая
          фракция</p></th>
        <td mat-cell *matCellDef="let element">
          <a [href]="'player/' + element.id">
            <p class="faction normal-text best-elem"
               [ngStyle]="{'color' : getColor(element?.bestFactionEntity)}">{{element?.bestFactionEntity?.name}}</p>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="selectable" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

